:root {
  --color-white: #fff;
  --color-gray: rgba(255, 255, 255, 0.3);

  --color-placeholder: rgba(0, 0, 0, 0.25);

  --primary-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
ol,
ul,
li,
form,
label,
article,
aside,
footer,
header,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

ul {
  list-style: none;
}

.container {
  width: 1200px;
  max-width: 1200px;
  margin: 0 auto;
}
